<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/c9f769c0-090c-40b2-b80a-1361ec1441e4/resourceGroups/ok-elearn-rg/providers/Microsoft.Web/sites/ok-elearn-app</ResourceId>
    <ResourceGroup>ok-elearn-rg</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://ok-elearn-app.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>8dcfeec2-0a85-4c7e-b96a-21c9184470b1</ProjectGuid>
    <PublishUrl>https://ok-elearn-app.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ok-elearn-app</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>